<div class="row">
    <div class="cl-xs-12">
        <button class="btn-btn-success">
            New Recipe
        </button>
    </div>
</div>
<div class="row">
    <div class="cl-xs 12"
 *ngFor="let rec of recipe">
            
                {{rec.name}}
                {{rec.description}}
            <img 
            src="{{rec.imagePath}}"  
            [src]="rec.imagePath"
            alt="{{rec.name}}">
    </div>
    <app-recipe-details [pm]="parentMessage" (childevent)="childMessage=$event"></app-recipe-details>
</div>
<button (click)="addServ()">Add</button>
<ng-container *ngFor="ser of servers">
    <div *ngIf="se">
        {{servers}}
    </div>
</ng-container>
<div>
   {{childMessage}} 
</div>



